# Used by docker compose for variable interpolation
ZITADEL_EXTERNALDOMAIN=<zitadel_externaldomain>
LETSENCRYPT_EMAIL=<letsencrypt_email>
ZITADEL_MASTER_KEY=<zitadel_master_key>
ZITADEL_ORG_NAME=<zitadel_org_name>
ZITADEL_ROOT_PASSWORD=<zitadel_root_password>

CLOUDFLARE_TUNNEL_TOKEN=<CLOUDFLARE_TUNNEL_TOKEN>